@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bde0fe;
}

header .logo {
  display: flex;
  width: 100px;
}

main h1 {
  background-color: #ffafcc;
  color: black;
  display: flex;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  justify-content: center;
}
main .carousel-item {
  transition: 500ms;
}
main .ejemplopares {
  display: flex;
  background-color: #ffafcc;
  color: black;
  justify-content: center;
  margin-bottom: 40px;
  padding: 10px;
  transition: 500ms;
}
main .busqueda {
  display: flex;
  height: 30px;
  margin: 10px 0 50px 0;
  justify-content: center;
}
main .talles {
  display: grid;
  justify-content: space-evenly;
}
main .talles img {
  margin-bottom: 20px;
  width: 250px;
}
main .dad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .dad .card {
  margin: 1rem;
}
main .dad .card h2 {
  margin: 1vh;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  text-align: center;
}
main .dad .card .card-text {
  margin-left: 5.7rem;
}
main .dad .card button {
  border: solid black;
  background: rgba(0, 128, 0, 0.329);
  border-radius: 10px;
  padding: 0.2rem;
  font-weight: 500;
}

section .allmenu, section .carousel-item {
  color: black;
  text-align: center;
}
section .banner img {
  margin: 15px 0 0 0;
  width: 100%;
}
section .banner .parrafo {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 -25px 18px -14px inset, rgba(0, 0, 0, 0.25) 0 1px 2px, rgba(0, 0, 0, 0.25) 0 2px 4px, rgba(0, 0, 0, 0.25) 0 4px 8px, rgba(0, 0, 0, 0.25) 0 8px 16px, rgba(0, 0, 0, 0.25) 0 16px 32px;
  background-color: #a2d2ff;
  margin: 50px 5px 100px 5px;
}
section .banner .parrafo p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  color: black;
}
section .completarcampo {
  justify-content: center;
  display: flex;
}
section .catalogopadre {
  display: grid;
  justify-content: center;
}
section .catalogopadre .catalogo {
  display: grid;
  margin-bottom: 100px;
  width: 200px;
  gap: 20px;
}
section .catalogopadre .catalogo img {
  display: grid;
  width: 100%;
  border: solid;
  height: 200px;
}
section .allcontact {
  display: flex;
}
section .allcontact .padrecontact {
  display: none;
}
section .allcontact .contactbox {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 -25px 18px -14px inset, rgba(0, 0, 0, 0.25) 0 1px 2px, rgba(0, 0, 0, 0.25) 0 2px 4px, rgba(0, 0, 0, 0.25) 0 4px 8px, rgba(0, 0, 0, 0.25) 0 8px 16px, rgba(0, 0, 0, 0.25) 0 16px 32px;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 500px;
  background-color: #a2d2ff;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
section .button-28 {
  margin-top: 20px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
section .button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
section .button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
section .button-28:disabled {
  pointer-events: none;
}
section form label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: block;
}
section form input {
  border: solid;
  justify-content: center;
  display: block;
  border-color: #8d99ae;
  border-radius: 5px;
}
section form img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30px;
}
section form .nombrelogo {
  transform: rotateY(180deg);
}

section .allcontact {
  justify-content: center;
}

footer, .footer-original {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Empuja el footer hacia abajo */
  /* Ajusta el estilo del footer según tus preferencias */
}

@media (min-width: 320px) and (max-width: 425px) {
  section .catalogopadre {
    display: grid;
    justify-content: center;
  }
  section .catalogopadre .catalogo {
    display: grid;
    margin-bottom: 115px;
    width: 200px;
    gap: 20px;
  }
  section .catalogopadre .catalogo img {
    display: grid;
    width: 100%;
    border: solid;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main .talles {
    display: flex;
  }
  main .talles img {
    width: 300px;
  }
  main .dad {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  section .allcontact .contactbox {
    margin-right: 250px;
  }
  section .allcontact .padrecontact {
    display: grid;
    margin-right: 45px;
    transition: 500ms;
  }
  section .allcontact .padrecontact:hover {
    transform: scale(1.1);
  }
  section .allcontact .padrecontact .whycontact {
    box-shadow: orange 0 1px 2px, rgba(255, 255, 255, 0.35) 0 2px 4px, rgba(255, 255, 255, 0.35) 0 4px 8px, orange 0 8px 16px, rgba(255, 255, 255, 0.35) 0 16px 32px;
    color: white;
    margin-top: 100px;
    background-color: #1A1A1A;
    width: 200px;
    height: 500px;
    border-radius: 10px;
  }
  section .allcontact .padrecontact .whycontact ul {
    list-style: circle;
    color: wheat;
    margin-top: 100px;
    margin-bottom: 120px;
  }
  section .allcontact .padrecontact .whycontact ul img {
    margin-top: 20px;
    filter: invert(1);
    margin-left: 15px;
    width: 100px;
  }
  section .allcontact .padrecontact .whycontact ul li {
    margin: 10px;
  }
  section .allcontact .padrecontact .whycontact h4 {
    margin: 10px 10px 10px 25px;
    color: orange;
    font-size: 2vh;
  }
  section .h2div {
    display: flex;
    justify-content: center;
  }
  section .h2div .h2 {
    margin-top: 80px;
  }
  section .catalogopadre {
    display: grid;
    justify-content: center;
  }
  section .catalogopadre .catalogo {
    grid-template-columns: repeat(3, 200px);
    margin-bottom: 115px;
    margin-right: 450px;
    gap: 20px;
  }
  section .catalogopadre .catalogo img {
    margin-bottom: 40px;
    transition: 500ms;
  }
  section .catalogopadre .catalogo img:hover {
    transform: scale(1.2);
    filter: brightness(0.5);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  main .talles {
    display: flex;
  }
  main .talles img {
    width: 300px;
  }
  main .dad button {
    transition: 500ms;
  }
  main .dad button:hover {
    transform: scale(1.1);
  }
  section .allcontact .contactbox {
    margin-right: 250px;
  }
  section .allcontact .padrecontact {
    display: grid;
    margin-right: 45px;
    transition: 500ms;
  }
  section .allcontact .padrecontact:hover {
    transform: scale(1.1);
  }
  section .allcontact .padrecontact .whycontact {
    box-shadow: orange 0 1px 2px, rgba(255, 255, 255, 0.35) 0 2px 4px, rgba(255, 255, 255, 0.35) 0 4px 8px, orange 0 8px 16px, rgba(255, 255, 255, 0.35) 0 16px 32px;
    color: white;
    margin-top: 100px;
    background-color: #1A1A1A;
    width: 200px;
    height: 500px;
    border-radius: 10px;
  }
  section .allcontact .padrecontact .whycontact ul {
    list-style: circle;
    color: wheat;
    margin-top: 100px;
    margin-bottom: 120px;
  }
  section .allcontact .padrecontact .whycontact ul img {
    margin-top: 20px;
    filter: invert(1);
    margin-left: 15px;
    width: 100px;
  }
  section .allcontact .padrecontact .whycontact ul li {
    margin: 10px;
  }
  section .allcontact .padrecontact .whycontact h4 {
    margin: 10px 10px 10px 25px;
    color: orange;
    font-size: 2vh;
  }
  section .h2div {
    display: flex;
    justify-content: center;
  }
  section .h2div .h2 {
    margin-top: 80px;
  }
  section .catalogopadre {
    display: grid;
    justify-content: center;
  }
  section .catalogopadre .catalogo {
    grid-template-columns: repeat(3, 200px);
    margin-bottom: 115px;
    margin-right: 450px;
    gap: 20px;
  }
  section .catalogopadre .catalogo img {
    margin-bottom: 40px;
    transition: 500ms;
  }
  section .catalogopadre .catalogo img:hover {
    transform: scale(1.2);
    filter: brightness(0.5);
  }
  main .dad {
    display: grid;
    margin-bottom: 2vh;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  main .talles {
    display: flex;
  }
  main .talles img {
    width: 400px;
  }
  main .dad {
    display: grid;
    margin-bottom: 2vh;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  main .dad button {
    transition: 500ms;
  }
  main .dad button:hover {
    transform: scale(1.1);
  }
  section .allcontact {
    display: flex;
    justify-content: center;
  }
  section .allcontact .contactbox {
    margin-right: 400px;
  }
  section .allcontact .padrecontact {
    display: grid;
    margin-right: 200px;
    transition: 500ms;
  }
  section .allcontact .padrecontact:hover {
    transform: scale(1.1);
  }
  section .allcontact .padrecontact .whycontact {
    box-shadow: orange 0 1px 2px, rgba(255, 255, 255, 0.35) 0 2px 4px, rgba(255, 255, 255, 0.35) 0 4px 8px, orange 0 8px 16px, rgba(255, 255, 255, 0.35) 0 16px 32px;
    color: white;
    margin-top: 100px;
    background-color: #1A1A1A;
    width: 200px;
    height: 500px;
    border-radius: 10px;
  }
  section .allcontact .padrecontact .whycontact ul {
    list-style: circle;
    color: wheat;
    margin-top: 100px;
    margin-bottom: 120px;
  }
  section .allcontact .padrecontact .whycontact ul img {
    margin-top: 20px;
    filter: invert(1);
    margin-left: 15px;
    width: 100px;
  }
  section .allcontact .padrecontact .whycontact ul li {
    margin: 10px;
  }
  section .allcontact .padrecontact .whycontact h4 {
    margin: 10px 10px 10px 25px;
    color: orange;
    font-size: 2vh;
  }
  section .catalogopadre {
    display: grid;
    justify-content: center;
  }
  section .catalogopadre .catalogo {
    grid-template-columns: repeat(3, 200px);
    margin-bottom: 115px;
    margin-right: 450px;
    gap: 20px;
  }
  section .catalogopadre .catalogo img {
    margin-bottom: 40px;
    transition: 500ms;
  }
  section .catalogopadre .catalogo img:hover {
    transform: scale(1.2);
    filter: brightness(0.5);
  }
  section .h2div {
    display: flex;
    justify-content: center;
  }
  section .h2div .h2 {
    margin-top: 51px;
  }
}

/*# sourceMappingURL=styles.css.map */
